{% extends "base.html" %}
{% block contenido %}

<section class="tarjetas-cont">

    <div class="encabezado-tarjetas">
        <h1 class="encabezado-titulo">
            Sobregiros del día
        </h1>
        
        <div class="encabezado-buscador">
            <input type="text" id="input-buscador" placeholder="Buscar Interlocutor...">
            <ul id="dropdown-buscador"></ul>
        </div>
    </div>

    <div class="contenido-tarjetas">

        {% for item in s.hoy %}

        <a href="{{ url_for('cliente', interlocutor=item.Interlocutor) }}" class="tarjetas">

            <div class="tarjetas-i">

                <span class="t-razon">
                    {{ item["Razon Social"] }}
                </span>

                <span class="t-interlocutor">
                    {{ item.Interlocutor }}
                </span>

            </div>

            <div class="tarjetas-d">

                <span class="t-monto">
                    Sobregiro: {{ item["Money Monto sobregiro"] }}
                </span>

            </div>

        </a>

        {% endfor %}

    </div>

</section>

<section class="panel-derecho">

    <aside class="panel-metricas">

        <div class="metrica-tarjeta"
             style="--metrica-color-fondo: #eeeeee; --metrica-color-acento: #323232; --metrica-color-titulo: #626060; --metrica-color-valor: #2d2d2d;">

            <span class="metrica-titulo">
                Monto en sobregiro
            </span>

            <span class="metrica-valor">
                {{ s.monto }}
            </span>

        </div>

        <div class="metrica-tarjeta"
             style="--metrica-color-fondo: #eeeeee; --metrica-color-acento: #323232; --metrica-color-titulo: #626060; --metrica-color-valor: #2d2d2d;">

            <span class="metrica-titulo">
                Clientes en sobregiro
            </span>

            <span class="metrica-valor">
                {{ s.clientes }}
            </span>

        </div>

        <div class="metrica-tarjeta metrica-tarjeta--doble"
             style="--metrica-color-fondo: #eeeeee; --metrica-color-acento: #323232;">

            <div class="metrica-doble-titulo">
                Variación diaria
            </div>

            <div class="metrica-secciones">

                <div class="metrica-seccion"
                     style="--seccion-color-fondo: #eeeeee; --seccion-color-acento: #323232; --seccion-color-titulo: #626060; --seccion-color-valor: #2d2d2d;">

                    <span class="metrica-titulo">
                        Variación clientes
                    </span>

                    <span class="metrica-valor">
                        {{ s.diff_clientes }}
                    </span>

                </div>

                <div class="metrica-seccion"
                     style="--seccion-color-fondo: #eeeeee; --seccion-color-acento: #323232; --seccion-color-titulo: #626060; --seccion-color-valor: #2d2d2d;">

                    <span class="metrica-titulo">
                        Variación monto
                    </span>

                    <span class="metrica-valor">
                        {{ s.diff_monto }}
                    </span>

                </div>

            </div>

        </div>

    </aside>

    <section class="grafica-cont">

        <canvas id="grafica-semana-sobregiro"></canvas>

    </section>

</section>

<script>

    window.datosSemana = {{ s.semana | tojson }};
    window.clientesAutocomplete = {{ lista | tojson}};

</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script src="{{ url_for('static', filename='js/base.js') }}"></script>

<script src="{{ url_for('static', filename='js/sobregiros.js') }}"></script>

{% endblock %}